*, *:before, *:after  {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      scroll-behavior: smooth;
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box;
}
body{
      background-color: #cccccc;
}

h1{
      text-shadow: 8px 8px 8px black;
}
#h3{   
      color: white;
      font-style: italic;
      font-weight: 700;
      text-shadow: 8px 8px 8px grey;
}


.wrapper{
      width: 100%;
      height: auto;
      min-height: 300px;
      padding: 0 0;
}

.slide{
      width: 100%;
      height: 850px;
      position: relative;
      background-image: url(../images/bg1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
}
nav {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  
  padding: 75px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}


.slideText{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: white; 
      font-family: 'Voces', 'Open Sans', arial, sans-serif;
}

.slideText h1{
      font-size: 50px;
      text-align: center;

}

.slideText p{
      font-size: 16px;
      padding: 0 80px;
      text-align: center;    
}



/*--------------- Services section starts  --------------- */
      
.blog-card {
   display: flex;
   flex-direction: column;
   margin: 1rem auto;
   box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
   margin-bottom: 1.6%;
   background: #fff6de;
   line-height: 1.4;
   font-family: sans-serif;
   border-radius: 5px;
   overflow: hidden;
   z-index: 0;

}
 .blog-card:hover .photo {
   transform: scale(1.3) rotate(3deg);
}
 .blog-card .meta {
   position: relative;
   z-index: 0;

}
 .blog-card .photo {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-size: cover;
   background-position: center;
   transition: transform 0.2s;
}


 .blog-card .description {
   padding: 1rem;
   background: #fff6de;
   position: relative;
   z-index: 1;
}
 .blog-card .description h1 {
   line-height: 1;
   margin: 0;
   font-size: 1.7rem;
   text-shadow: 0px 0px 0px black;  
}
 .blog-card .description h2 {
   font-size: 1rem;
   font-weight: 300;
   text-transform: uppercase;
   color: grey;
   margin-top: 5px;
}
 .blog-card .description .read-more {
   text-align: right;
}
 .blog-card .description .read-more a {
   color: #5ad67d;
   display: inline-block;
   position: relative;
}
 .blog-card .description .read-more a:after {
   content: "\f061";
   font-family: FontAwesome;
   margin-left: -10px;
   opacity: 0;
   vertical-align: middle;
   transition: margin 0.3s, opacity 0.3s;
}
 .blog-card .description .read-more a:hover:after {
   margin-left: 5px;
   opacity: 1;
}
 .blog-card p {
   position: relative;
   margin: 1rem 0 0;
}
 .blog-card p:first-of-type {
   margin-top: 1.25rem;
}
 .blog-card p:first-of-type:before {
   content: "";
   position: absolute;
   height: 5px;
   background: #ff9800;
   width: 35px;
   top: -0.75rem;
   border-radius: 3px;
}

 @media (min-width: 640px) {
   .blog-card {
     flex-direction: row;
     max-width: 700px;
  }
   .blog-card .meta {
     flex-basis: 40%;
     height: auto;
  }
   .blog-card .description {
     flex-basis: 60%;
  }
   .blog-card .description:before {
     transform: skewX(-3deg);
     content: "";
     background: #fff;
     width: 30px;
     position: absolute;
     left: -10px;
     top: 0;
     bottom: 0;
     z-index: -1;
  }
   .blog-card.alt {
     flex-direction: row-reverse;
  }
   .blog-card.alt .description:before {
     left: inherit;
     right: -10px;
     transform: skew(3deg);
  }

}
      

/*------------------Our PRoducts section-------------------------------*/

.content-title{
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 35px 0;
}
.content-title h2{
      font-size: 38px;
      font-family: 'Voces', 'Open Sans', arial, sans-serif;
      color: #333333;
}

 cite {
   font-weight: 700;
   color: #ffac47;
   font-family: 'Voces', 'Open Sans', arial, sans-serif;
 }
 .col-text {
   background-color: #fff6de;
}
 .flex-quotes {
   display: flex;
   flex-grow: 1;
   border-bottom: 4px solid #cccccc;
}
 .col {
   flex: 1;
}
 .col-text {
   flex: 1.5;
}
 @media (min-width: 640px) {
   .col-text {
     border-left: 4px solid #cccccc;
  }
}
 .col-left {
   order: -1;
}
 @media (min-width: 640px) {
   .col-left {
     border-left: none;
     border-right: 4px solid #cccccc;
  }
}
 .col-text p {
   padding: 2em;
   margin: 0;
   font-family: 'Voces', 'Open Sans', arial, sans-serif;
}
 .col-image {
   display: none;
}
 @media (min-width: 640px) {
   .col-image {
     display: flex;
     background-size: cover;
  }
}
 

/*------------------About US--------------------*/
.banner-parallax {
      background-image: url("https://tctranscontinental.com/sites/default/files/inline-images/220_print_0.jpg");
      overflow: hidden;
      height: 300px;
      text-align: center;
      background-attachment: fixed;
      background-position: center top;
      background-repeat: no-repeat;
      position: relative;
}
@media (min-width: 640px) {
   .r {
          flex-basis: 60%;
     height: auto;
  }
}
.quote {
   display: inline-block;
   margin: 1em;
   overflow: hidden;
}
 .quote blockquote {
   border: solid 2px #ff9800;
   display: inline-block;
   margin: 0;
   padding: 1em;
   position: relative;
   color: black;
   font-weight: 900;
}
 .quote blockquote:before {
   background-color: #cccccc;
   bottom: -10%;
   content: "";
   left: 0;
   position: absolute;
   right: 0;
   top: -10%;
   transform: rotate(-15deg) skew(5deg);
}
 .quote blockquote cite {
   display: block;
   font-style: italic;
   text-align: right;
   color: white;
   text-shadow: 8px 8px 8px grey;
}
 .quote blockquote cite:before {
   content: "- ";
}
 .quote blockquote > * {
   position: relative;
   z-index: 1;
}


/*----------Contact us-----*/


.columnsContainer{ position: relative; margin: .5em; }

.leftColumn, .rightColumn {  border: 1px solid  white; padding: 1.25em; }


/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 19.5em; }

  .rightColumn { position: absolute; top: 0; right: 0; width: 18.75em; }   
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 120%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #fff6de;
  color: grey;
  transform: rotateY(180deg);
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google-plus {
  background: white;
  color: grey;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-whatsapp {
  background: white;
  color: grey;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*---------------------Button scroll back to TOP------------------*/
.gotopbtn{
  position: fixed;
  width: 35px;
  height: 35px;
  background: #fff6de;
  bottom: 23px;
  right: 0px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 22px;
  height: 55px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----------Footer---------*/
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background: rgba(0,0,0,0.8);
   color: black;
   height: 30px;
   text-align: center;
   background: transparent;
}
